<div class="footer">
  <div class="container footer-top">
    <div class="row">
      <!--tout le contenu-->
      <div class="col-sm-4 col-lg-4 footer-widget">
        <br />
        <div class="fot1-widget">
          <span class="anta"> </span>
          <div>
            <!-- <p class="para" style="font-weight: bold; text-align: center;">Plateforme 
             de la gestion <br /> des lycées techniques l</p> -->
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 footer-widget">
        <br />
        <div class="foot2-widget">
          <p class="cont" style="font-weight: bold">CONTACT</p>
          <div>
            <span class="log">
              <a>
                <fa-icon icon="map-marker"></fa-icon>
                Dakar/CICES
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <a>
                <fa-icon icon="phone"></fa-icon>
                338657033
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <a>
                <fa-icon icon="envelope"></fa-icon>
                dfpt@gmail.com
              </a>
            </span>
          </div>
          <br />
          <div>
            <span class="log">
              <a>
                <fa-icon icon="clock"></fa-icon>
                Vendredi 26 au Dimanche 28 Mai 2023
              </a>
            </span>
          </div>
          <br />
        </div>
      </div>

      <div class="col-sm-4 col-lg-4 footer-widget">
        <br />
        <div class="foot3-widget">
          <p class="cont" style="font-weight: bold">RESEAUX SOCIAUX</p>

          <br />
          <div>
            <span class="log">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
              <a href="https://web.facebook.com/MEFPAIdfpt/?_rdc=1&_rdr" class="log">Facebook de la DFPT </a>
            </span>
          </div>
          <br />

          <div>
            <span class="log">
              <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
              <a href="https://twitter.com/search?q=%23MEFPAI" class="log">Twitter du MFPAI</a>
            </span>
          </div>

          <br />

          <div>
            <span class="log">
              <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
              <a href="https://www.linkedin.com/" class="log">Linkedin du MFPAI</a>
            </span>
          </div>
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>

  <!--copyright-->
  <div class="copyright">
    <div class="container">
      <div style="font-weight: bold; text-align: center" class="log">---------------------------------------------</div>
      <p class="copy" style="font-weight: bold; text-align: center">Copyright © 2023 Agir-Informatique</p>
    </div>
  </div>
</div>
