<div>
  <span class="titres">OBJECTIFS</span>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-4"></div>

    <div class="col-md-7">
      <br />
      <br />
      <span class="text">
        Faire découvrir aux demandeur d’emplois les métiers et les filières de formation qui recrutent. Trois journée journées d’information
        vont permettre aux personnes intéressées de découvrir les leviers existant permettant à chacun d’accéder à un métier (formation,
        contrats spécifiques, postes à pourvoir ...). Rencontrer des jeunes de divers établissements des écoles des métiers et universités
        Opportunités de recruter des stagiaires sur place et pourquoi pas recruter de futurs collaborateurs. Créer un événement qui va
        permettre de réunir les entreprises, les partenaires et de les relancer Sénégal Open Source c’est un réseau de facilitation d’accès
        à l’emploi.</span
      >
    </div>

    <!-- <div class="col-md-1"></div> -->
  </div>
  <br />
  <span class="titre">Pourquoi faire un forum des métiers ?</span><br />

  <span class="text"
    >Le Salon <span class="gras">des Métiers</span> est un moment fort dans l'année pour nos jeunes. Ils y ont en effet l'opportunité de
    rencontrer <br />des personnes dont la profession est celle qu'ils envisagent d'exercer, et ils peuvent ainsi découvrir plus en détails
    cette <br />
    profession et le parcours qui pourra les y mener.</span
  ><br /><br />

  <span class="titre">Qu'est-ce qu'un salon des métiers ?</span><br />

  <div class="text">
    Le salon des métiers est un
    <span class="gras"
      >événement annuel réunissant dans un même lieu différents acteurs : professionnels, élèves, <br />enseignants, corps de personnels de
      direction et institutionnels.
    </span>
    Il permet de présenter aux élèves de 3ème un panel de <br />métiers le plus large possible.
  </div>
  <br /><br />

  <span class="titre">Quels sont les questions à poser lors d'un salon des métiers ?<br />FICHE METIER</span><br />

  <fa-icon icon="hand-point-right"></fa-icon>
  <span class="gras">Quel est</span> le nom de votre <span class="gras">métier ? Quelles sont </span>vos activités principales. ...
  <br />

  <fa-icon icon="hand-point-right"></fa-icon>
  Où travaillez-vous ? Travaillez-vous en intérieur ou en extérieur ? ...<br />

  <fa-icon icon="hand-point-right"></fa-icon>
  <span class="gras">Quelles sont </span> qualités requises pour ce travail ? ...<br />

  <fa-icon icon="hand-point-right"></fa-icon>
  Les débouchés <span class="gras">sont</span>-ils nombreux ? ...<br />

  <fa-icon icon="hand-point-right"></fa-icon>
  <span class="gras">Quel est</span> votre salaire ? ...<br />

  <fa-icon icon="hand-point-right"></fa-icon>
  <span class="gras">Quels sont </span> diplômes qui préparent à ce <span class="gras">métier</span> ?<br />
  <br />

  <span class="titre">Quel est le rôle du métier ?</span><br />

  <div class="text">
    Un métier désigne
    <span class="gras">l'exercice par une personne d'une activité dans un domaine professionnel, en vue d'une rémunération.</span>
  </div>
  <br /><br />

  <span class="titre">Quels sont les avantages du salon pour les demandeurs d'emploi ?</span><br />

  <div class="text">
    Participer à un salon carrière vous donne l'opportunité de faire parler de votre entreprise et également de laisser une image
    <br />positive aux étudiants et chercheurs d'emploi.
    <span class="gras">Vous encourager ainsi les talents à vous envisager en priorité dans leurs recherches d'emploi.</span>
  </div>
</div>

<!-- <div>
  <h2 id="page-heading" data-cy="ObjectifHeading">
    <span>Objectifs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-objectif"
        [routerLink]="['/objectif/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Objectif </span>
      </button>
    </div> 
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="objectifs?.length === 0">
    <span>No objectifs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="objectifs && objectifs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Objectif</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objectif of objectifs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/objectif', objectif.id, 'view']">{{ objectif.id }}</a>
          </td>
          <td>{{ objectif.objectif }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/objectif', objectif.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/objectif', objectif.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(objectif)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
