.col-md-4 {
  display: inline-block;
  background-image: url('../../../../content/images/ingObj.jpg');
  background-size: cover;
  height: 45vh;
  margin-left: 12px;
}

.titres {
  font-weight: bold;
  font-size: 3vh;
  margin-left: 12px;
}

.titre {
  font-weight: bold;
  font-size: 3vh;
  margin-left: 12px;
  text-decoration: underline;
}
.text {
  margin-left: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
}
.gras {
  font-weight: bold;
}
