<div>
  <span class="titre">LES ENTREPRISES</span><br /><br />
  <div class="rouge">FORUM DES METIERS : BOURSE DE L’EMPLOI<br /></div>

  <div class="rouges">Vous êtes une entreprise ? Une PME ? : offres d'emplois et annonces gratuites</div>
  <div class="text">
    Notre vision est d'apporter une alternative aux services publics et privés , plus adaptée aux besoins et contraintes de l'entreprenariat
    sénégalais.<br /><br />

    Avec <span class="titres">Forum des métiers : Bourse de l'Emploi</span>, vous évitez à votre entreprise de supporter les coûts
    prohibitifs des recrutements “traditionnels” <br />dans le cadre d'une recherche de candidats pour un emploi cadre et surtout non cadre
    (comme le proposent souvent beaucoup de cabinets de <br />recrutement). Terminés les sites d’offres d’emploi gratuits ou payants qui ne
    sentent pas concernés par votre taux de retour infructueux de cv.<br />
    La bourse de l'emploi est à vos côtés
  </div>
  <br />
  <div class="point">
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">ORIENTATION</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">FORMATION PROFESSIONNELLE</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">ECOLOGIE</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">NUMEERIQUE</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">POLE EMPLOI</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">JOB DATING</span><br />
    <span class="icon"><fa-icon icon="circle"></fa-icon></span><span class="rouge">SPEED DATING</span><br />
  </div>
</div>

<!--<div>
  <h2 id="page-heading" data-cy="EntrepriseHeading">
    <span>Entreprises</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entreprise"
        [routerLink]="['/entreprise/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Entreprise </span>
      </button>
    </div> 
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entreprises?.length === 0">
    <span>No entreprises found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entreprises && entreprises.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Entreprise</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entreprise of entreprises; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entreprise', entreprise.id, 'view']">{{ entreprise.id }}</a>
          </td>
          <td>{{ entreprise.entreprise }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entreprise', entreprise.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entreprise', entreprise.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(entreprise)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
