<div>
  <span class="titre">INTRODUCTION</span>
  <div class="row">
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-4"></div>

    <div class="col-md-8">
      <br />
      <span class="text">
        Soucieux du manque de formation et du travail des jeunes alors que notre pays dispose d’un potentiel énorme du capital humain plus
        de 60 % de jeunes avec un environnement politique favorable en référence au plan Sénégal Emergent ( PSE).aussi avec l’acte 3 de la
        décentralisation qui donne plus de pouvoir aux communes, le développement des nouvelles technologies de communication offre des
        possibilités de combler ce gap de manque de formation et d’emplois.<br />

        Nul doute que les logiciels libres ont apporté une contribution substantielle au développement d’internet et des TIC et ils
        fonctionnent sur des valeurs identiques à celle de la promotion des biens publics à l’échelle mondiale et traite l’un des biens
        publics les plus fondamentaux/ la connaissance. C’est exactement le fondement du Sénégal Open Source la démocratisation du savoir
        dans le but de faire profiter tout le monde à la formation, à l’éducation et à l’accès aux ressources économiques par la création
        d’emplois au Sénégal.</span
      >
    </div>

    <!-- <div class="col-md-1"></div> -->
  </div>
</div>
<!--<div class="list">
  <h2 id="page-heading" data-cy="IntroductionHeading">
    <span>Introductions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-introduction"
        [routerLink]="['/introduction/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Introduction </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="introductions?.length === 0">
    <span>No introductions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="introductions && introductions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Introduction</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let introduction of introductions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/introduction', introduction.id, 'view']">{{ introduction.id }}</a>
          </td>
          <td>{{ introduction.introduction }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/introduction', introduction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/introduction', introduction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(introduction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 -->
