.col-md-4 {
  display: inline-block;
  background-image: url('../../../../content/images/imginto.jpg');
  background-size: cover;
  height: 45vh;
}

.titre {
  font-weight: bold;
  font-size: 3vh;
}
.text {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
}
