<!-- <jhi-page-ribbon></jhi-page-ribbon> -->
<div class="card jh-card">
  <div class="tout">
    <div class="row">
      <div class="hearder">
        <p class="open">Sénégal Open Source</p>
        <br />
        <p class="openPlus">SALON DES METIERS: Spécial Bourse de l'Emploi 1ère EDITION du 26 au 28 Mai 2023 au C.I.C.E.S à Dakar</p>
      </div>
      <!-- <img src="../../../content/images/entete.PNG" height="130vh" width="1498vh"> -->
    </div>
    <div>
      <router-outlet name="navbar"></router-outlet>
    </div>

    <div class="container-fluid">
      <!-- <div class="card jh-card"> -->
      <router-outlet></router-outlet>

      <jhi-footer></jhi-footer>
    </div>
  </div>
</div>
