<div>
  <span class="titre">A PROPOS DE MOI</span>
  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-5">
      <br />
      <br />
      <p class="titre">Abdourahmane Mbengue</p>
      <span class="textapro">
        Administrateur Général de Sénégal Open manageur entrepreneur social/ Innovateur Ashoka, 1er gestionnaire des centres de recherche et
        d’essais du Ministère de l’enseignement supérieur, de la recherche et de l’innovation ( MESRI) du Sénégal.
      </span>
    </div>
  </div>
  <br />
  <p class="titre">Que fait Sénégal Open Source (S O S)</p>

  <span class="titre1">
    S O S est une société d'ingénierie logicielle qui se définit comme support technologique pour les entreprises et certaines structures de
    l’Etat en proposant des solutions innovantes et à la pointe de la technologie. SOS travaille sur la formation surtout en ligne avec des
    applications modernes, la consultance, les applications des logiciels éducatifs entre autre. Il est composé de professionnels soucieux
    du développement de leur pays surtout avec d’imminents informaticiens qui ont fait leur preuve.</span
  >

  <!-- <div class="list">
  <h2 id="page-heading" data-cy="AproposHeading">
    <span>Apropos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-apropos"
        [routerLink]="['/apropos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Apropos </span>
      </button>
    </div> 
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="apropos?.length === 0">
    <span>No apropos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="apropos && apropos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Texte</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let apropos of apropos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/apropos', apropos.id, 'view']">{{ apropos.id }}</a>
          </td>
          <td>{{ apropos.texte }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/apropos', apropos.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/apropos', apropos.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(apropos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
</div>
