.col-md-4 {
  display: inline-block;
  background-image: url('../../../../content/images/imgaprop.jpg');
  background-size: cover;
  height: 45vh;
  margin-left: 12px;
}

.titre {
  font-weight: bold;
  font-size: 3vh;
}
.titre1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
}

.textapro {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
}
